In [50]:
import pandas as pd
users=pd.read_csv("users.csv",index_col=0)
products=pd.read_csv("products.csv",index_col=0)
orders=pd.read_csv("orders.csv",index_col=0)
order_items=pd.read_csv("order_items.csv",index_col=0)
payments=pd.read_csv("payments.csv",index_col=0)

In [51]:
#users dataset
users

                    name                 email      country signup_date
user_id
1               John Doe    john.doe@gmail.com        Kenya  2024-01-05
2             Jane Smith  jane.smith@yahoo.com          USA  2024-01-12
3             Mike Brown                   NaN           UK  2024-02-01
4          Alice Johnson       alice@gmail.com       Canada  2024-02-15
5                Bob Lee     bob.lee@gmail.com        Kenya  2024-03-01
6            Chris Evans       chris@gmail.com          USA  2024-03-02
7            Linda White       linda@yahoo.com           UK  2024-03-03
8             Samuel Kim     sam.kim@gmail.com  South Korea  2024-03-05
9              Raj Patel         raj@gmail.com        India  2024-03-06
10           Maria Lopez       maria@yahoo.com        Spain  2024-03-07
11             Tom Clark         tom@gmail.com       Canada  2024-03-08
12           Susan Green       susan@gmail.com          USA  2024-03-09
13            Peter Wang       peter@gmail.com        China  2024-03-10
14           Anna Muller        anna@gmail.com      Germany  2024-03-11
15            James Bond       james@gmail.com           UK  2024-03-12
16            Nancy Drew       nancy@gmail.com          USA  2024-03-13
17            Kevin Hart       kevin@gmail.com       Canada  2024-03-14
18             Grace Kim       grace@gmail.com  South Korea  2024-03-15
19            Ali Hassan         ali@gmail.com        Kenya  2024-03-16
20           Daniel Ruiz      daniel@gmail.com        Spain  2024-03-17
21           Sophia Chen      sophia@gmail.com        China  2024-03-18
22         Michael Scott      mscott@gmail.com          USA  2024-03-19
23         Pamela Beesly         pam@gmail.com          USA  2024-03-20
24           Jim Halpert         jim@gmail.com          USA  2024-03-21
25        Dwight Schrute      dwight@gmail.com          USA  2024-03-22
26        Stanley Hudson     stanley@gmail.com          USA  2024-03-23
27         Angela Martin      angela@gmail.com          USA  2024-03-24
28        Oscar Martinez       oscar@gmail.com       Mexico  2024-03-25
29          Kevin Malone     kevin.m@gmail.com          USA  2024-03-26
30           Ryan Howard        ryan@gmail.com          USA  2024-03-27
31          Andy Bernard        andy@gmail.com          USA  2024-03-28
32         Phyllis Lapin     phyllis@gmail.com          USA  2024-03-29
33       Toby Flenderson        toby@gmail.com          USA  2024-03-30
34       Meredith Palmer    meredith@gmail.com          USA  2024-03-31
35         Creed Bratton       creed@gmail.com          USA  2024-04-01
36          Kelly Kapoor       kelly@gmail.com        India  2024-04-02
37        Darryl Philbin      darryl@gmail.com          USA  2024-04-03
38           Erin Hannon        erin@gmail.com          USA  2024-04-04
39         David Wallace    dwallace@gmail.com          USA  2024-04-05
40            Holly Flax       holly@gmail.com          USA  2024-04-06
41           Mark Taylor        mark@gmail.com           UK  2024-04-07
42           Emily Stone       emily@gmail.com       Canada  2024-04-08
43           Lucas Brown       lucas@gmail.com          USA  2024-04-09
44            Hannah Lee      hannah@gmail.com  South Korea  2024-04-10
45            Paul Adams        paul@gmail.com           UK  2024-04-11
46            Nina Rossi        nina@gmail.com        Italy  2024-04-12
47           Carlos Diaz      carlos@gmail.com       Mexico  2024-04-13
48            Aisha Khan       aisha@gmail.com        Kenya  2024-04-14
49           Yuki Tanaka        yuki@gmail.com        Japan  2024-04-15
50           Victor Hugo      victor@gmail.com       France  2024-04-16

In [52]:
#check for missing values in users dataset
users.isnull().sum()
#email has missing value

name           0
email          1
country        0
signup_date    0
dtype: int64

In [53]:
#orders dataset
orders

          user_id  order_date     status
order_id
1001            1  2024-03-10  Completed
1002            2  2024-03-11  Completed
1003            3  2024-03-12  Cancelled
1004            4  2024-03-13  Completed
1005            5  2024-03-14    Pending
1006            6  2024-03-15  Completed
1007            7  2024-03-16  Completed
1008            8  2024-03-17  Completed
1009            9  2024-03-18  Completed
1010           10  2024-03-19    Pending
1011           11  2024-03-20  Completed
1012           12  2024-03-21  Completed
1013           13  2024-03-22  Cancelled
1014           14  2024-03-23  Completed
1015           15  2024-03-24  Completed
1016           16  2024-03-25    Pending
1017           17  2024-03-26  Completed
1018           18  2024-03-27  Completed
1019           19  2024-03-28  Completed
1020           20  2024-03-29  Completed
1021           21  2024-03-30  Completed
1022           22  2024-03-31  Completed
1023           23  2024-04-01  Completed
1024           24  2024-04-02  Completed
1025           25  2024-04-03    Pending
1026           26  2024-04-04  Completed
1027           27  2024-04-05  Completed
1028           28  2024-04-06  Completed
1029           29  2024-04-07  Cancelled
1030           30  2024-04-08  Completed
1031           31  2024-04-09  Completed
1032           32  2024-04-10  Completed
1033           33  2024-04-11    Pending
1034           34  2024-04-12  Completed
1035           35  2024-04-13  Completed
1036           36  2024-04-14  Completed
1037           37  2024-04-15  Completed
1038           38  2024-04-16  Completed
1039           39  2024-04-17    Pending
1040           40  2024-04-18  Completed
1041           41  2024-04-19  Completed
1042           42  2024-04-20  Completed
1043           43  2024-04-21  Completed
1044           44  2024-04-22  Completed
1045           45  2024-04-23  Cancelled
1046           46  2024-04-24  Completed
1047           47  2024-04-25  Completed
1048           48  2024-04-26  Completed
1049           49  2024-04-27  Completed
1050           50  2024-04-28  Completed

In [54]:
#check for any missing order
orders.isnull().sum()
#no missing order value

user_id       0
order_date    0
status        0
dtype: int64

In [55]:
#ordered items dataset
order_items

               order_id  product_id  quantity
order_item_id
1                  1001         101         1
2                  1001         104         3
3                  1002         102         2
4                  1003         105         5
5                  1004         103         1
6                  1004         110         2
7                  1005         106         1
8                  1006         107         1
9                  1006         104        10
10                 1007         108         1
11                 1008         109         2
12                 1009         111         1
13                 1010         112         1
14                 1011         113         2
15                 1012         114         3
16                 1013         115         1
17                 1014         116         4
18                 1015         117         2
19                 1016         118         1
20                 1017         119         1
21                 1018         120         1
22                 1019         121         2
23                 1020         122         1
24                 1021         123         1
25                 1022         124         3
26                 1023         125         2
27                 1024         126         1
28                 1025         127         5
29                 1026         128         1
30                 1027         129         1
31                 1028         130         2
32                 1029         131         1
33                 1030         132         2
34                 1031         133         5
35                 1032         134         4
36                 1033         135         6
37                 1034         136        10
38                 1035         137         3
39                 1036         138         1
40                 1037         139         1
41                 1038         140         2
42                 1039         141         1
43                 1040         142         1
44                 1041         143         1
45                 1042         144         3
46                 1043         145         4
47                 1044         146         1
48                 1045         147         1
49                 1046         148         2
50                 1047         149         1

In [56]:
#check for any missing value in ordered items
order_items.isnull().sum()
#there is no missing value

order_id      0
product_id    0
quantity      0
dtype: int64

In [57]:
#payments dataset
payments

            order_id payment_method  amount_paid payment_date
payment_id
9001            1001    Credit Card       1215.0   2024-03-10
9002            1002         PayPal        300.0   2024-03-11
9003            1004    Credit Card        340.0   2024-03-13
9004            1006    Credit Card        320.0   2024-03-15
9005            1007     Debit Card        450.0   2024-03-16
9006            1008         PayPal        560.0   2024-03-17
9007            1009    Credit Card        600.0   2024-03-18
9008            1011     Debit Card        160.0   2024-03-20
9009            1012    Credit Card        120.0   2024-03-21
9010            1014         PayPal        180.0   2024-03-23
9011            1015    Credit Card         90.0   2024-03-24
9012            1017     Debit Card        500.0   2024-03-26
9013            1018    Credit Card        900.0   2024-03-27
9014            1019         PayPal        120.0   2024-03-28
9015            1020    Credit Card         75.0   2024-03-29
9016            1021     Debit Card         55.0   2024-03-30
9017            1022    Credit Card         36.0   2024-03-31
9018            1023         PayPal        300.0   2024-04-01
9019            1024    Credit Card        100.0   2024-04-02
9020            1026     Debit Card        350.0   2024-04-04
9021            1027    Credit Card        140.0   2024-04-05
9022            1028         PayPal        400.0   2024-04-06
9023            1030    Credit Card         60.0   2024-04-08
9024            1031     Debit Card         75.0   2024-04-09
9025            1032    Credit Card         48.0   2024-04-10
9026            1034         PayPal         40.0   2024-04-12
9027            1035    Credit Card         30.0   2024-04-13
9028            1036     Debit Card         85.0   2024-04-14
9029            1037    Credit Card        220.0   2024-04-15
9030            1038         PayPal         90.0   2024-04-16
9031            1040    Credit Card        110.0   2024-04-18
9032            1041     Debit Card        750.0   2024-04-19
9033            1042    Credit Card        105.0   2024-04-20
9034            1043         PayPal         72.0   2024-04-21
9035            1044    Credit Card         55.0   2024-04-22
9036            1046     Debit Card        180.0   2024-04-24
9037            1047    Credit Card        320.0   2024-04-25
9038            1048         PayPal        200.0   2024-04-26
9039            1049    Credit Card         65.0   2024-04-27
9040            1050     Debit Card         25.0   2024-04-28
9041            1005    Credit Card          NaN   2024-03-14
9042            1010         PayPal          NaN   2024-03-19
9043            1016    Credit Card          NaN   2024-03-25
9044            1025     Debit Card          NaN   2024-04-03
9045            1033         PayPal          NaN   2024-04-11
9046            1039    Credit Card          NaN   2024-04-17
9047            1045     Debit Card          NaN   2024-04-23
9048            1029         PayPal          NaN   2024-04-07
9049            1013    Credit Card          NaN   2024-03-22
9050            1003         PayPal          NaN   2024-03-12

In [58]:
#check for any missing values in payments dataset
payments.isnull().sum()
#amount paid has missing values for 10 users

order_id           0
payment_method     0
amount_paid       10
payment_date       0
dtype: int64

In [59]:
users[users['email'].isna()]

               name email country signup_date
user_id
3        Mike Brown   NaN      UK  2024-02-01

In [60]:
#filter out valid emails
valid_emails=users[users['email'].notna()]
valid_emails[['email']]
valid_emails.reset_index(drop=True)
valid_emails.index=range(1,len(valid_emails)+1)
#filter out invalid emails
invalid_emails=users[users['email'].isna()]
print("Total email addresses: ",len(users))
print("Valid emails: ",len(valid_emails))
print("Invalid emails: ",len(invalid_emails))

Total email addresses:  50
Valid emails:  49
Invalid emails:  1

In [61]:
valid_emails[['email']]

                   email
1     john.doe@gmail.com
2   jane.smith@yahoo.com
3        alice@gmail.com
4      bob.lee@gmail.com
5        chris@gmail.com
6        linda@yahoo.com
7      sam.kim@gmail.com
8          raj@gmail.com
9        maria@yahoo.com
10         tom@gmail.com
11       susan@gmail.com
12       peter@gmail.com
13        anna@gmail.com
14       james@gmail.com
15       nancy@gmail.com
16       kevin@gmail.com
17       grace@gmail.com
18         ali@gmail.com
19      daniel@gmail.com
20      sophia@gmail.com
21      mscott@gmail.com
22         pam@gmail.com
23         jim@gmail.com
24      dwight@gmail.com
25     stanley@gmail.com
26      angela@gmail.com
27       oscar@gmail.com
28     kevin.m@gmail.com
29        ryan@gmail.com
30        andy@gmail.com
31     phyllis@gmail.com
32        toby@gmail.com
33    meredith@gmail.com
34       creed@gmail.com
35       kelly@gmail.com
36      darryl@gmail.com
37        erin@gmail.com
38    dwallace@gmail.com
39       holly@gmail.com
40        mark@gmail.com
41       emily@gmail.com
42       lucas@gmail.com
43      hannah@gmail.com
44        paul@gmail.com
45        nina@gmail.com
46      carlos@gmail.com
47       aisha@gmail.com
48        yuki@gmail.com
49      victor@gmail.com

In [65]:
invalid_emails

               name email country signup_date
user_id
3        Mike Brown   NaN      UK  2024-02-01

In [68]:
#occurrence of country 
countries_count=users['country'].value_counts()
countries_count
#most users are from USA followed by UK

country
USA            22
UK              5
Kenya           4
Canada          4
South Korea     3
India           2
Spain           2
China           2
Mexico          2
Germany         1
Italy           1
Japan           1
France          1
Name: count, dtype: int64

In [78]:
#total countries
countries_total=users['country']
print("Countries total: ",len(countries_total))

Countries total:  50

In [73]:
#check if there is missing country
country_missing=users[users['country'].isna()]
print("Country missing: ",len(country_missing))
#no country is missing

Country missing:  0

In [75]:
#check any missing_sign_up date
missing_signup=users[users['signup_date'].isna()]
print("Total signup dates missing: ",len(missing_signup))
#no missing signup dates

Total signup dates missing:  0

In [77]:
#check missing name
missing_name=users[users['name'].isna()]
print("Total names missing: ",len(missing_name))
#name missing names

Total names missing:  0